
.customers {
    padding-top: 94px;
    padding-bottom: 94px;

}


.company {
    display: flex;

    &__group {
        display: flex;
        justify-items: center;
        align-items: center;
        
        cursor: pointer;
        border-radius: 4px;
    }
    
    &__group:not(:last-child) {
            margin-right: 30px;
    
        // transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), 
        // border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        // box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    &__link {
        display: flex;
        justify-content: center;
        align-items: center;
        box-sizing: border-box;
        border: 1px solid var(--icon-color);
        fill: var(--icon-color);

        min-width: 170px;
        min-height: 92px;
    
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
        border 250ms cubic-bezier(0.4, 0, 0.2, 1),
        box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1); 
        
    }
    

    &__link:focus,
    &__link:hover
     {
        fill: var(--accent-color);
        border: 1px solid var(--accent-color);
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        outline: none;
    }
    


}
